<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.freestylemeeting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreestyleMeeting">
        <activity android:name=".StarterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListPistasActivity" />
        <activity android:name=".pistaActivityEnterprise" />
        <activity android:name=".enterpriseRegister" />
        <activity android:name=".SelectEstacionActivity" />
        <activity android:name=".authActivity"/>
        <activity android:name=".CrearGruposActivity" />
        <activity android:name=".GroupActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ListaPistaActivity" />
        <activity android:name=".MyHome" />
        <activity android:name=".NavegationDrawerActivity" />
        <activity android:name=".PistaActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ReservarMaterialActivity" />
        <activity android:name=".TrainingActivity" />
    </application>

</manifest>